<!DOCTYPE html>
<html>
<head>
    <title>Virtual Forest</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1 style="text-align:center; margin-top:20px;">
🌳 Virtual Forest Growth
</h1>

<div class="dashboard">

    <div class="card">
        <h2>🌱 Seed Stage</h2>
        <p>Small eco efforts begin here.</p>
    </div>

    <div class="card">
        <h2>🌿 Sapling Stage</h2>
        <p>You are reducing waste & saving energy.</p>
    </div>

    <div class="card">
        <h2>🌳 Young Tree</h2>
        <p>Your habits are becoming sustainable.</p>
    </div>

    <div class="card">
        <h2>🌲 Mature Tree</h2>
        <p>You are a full Eco Guardian 🌍</p>
    </div>

</div>

<div style="text-align:center; margin-top:30px;">
    <a href="/dashboard" class="btn">⬅ Back to Dashboard</a>
</div>

</body>
</html>